/*  bhoechie tab */
.list-group-item {
	font-weight:500;
	line-height:3;
}
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 20px 0px 70px 0px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
div.bhoechie-tab-menu div.list-group span{
    margin-bottom: 10px;
    margin-top: 15px;
    color: #1d3557 !impoprant;
    margin-right: 8px;
	line-height: 0.5;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  color: #616670;
  box-shadow: none;
  outline: none;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #47b4ed;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #cd2757  !important;
  color: #ffffff;
  line-height: 3;
  border: none;
  box-shadow: none;
  outline: none;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #cd2757  ;
}

div.bhoechie-tab-content {
	position:relative;
  background-color: #ffffff; 
    display: table;
    width: 100%;
    padding: 12px;
}

.bhoechie-tab-content h2 {
	position:relative;
	margin-bottom:30px;
	
}

.insta-settings  .postbox .inside {
	margin:0;
	padding:0
}

.insta-settings h2 {
	font-size:16px !important;
	font-weight:500 !important;
}

.insta-settings .notice-info {
    border-left-color: #cf2e5c;
	margin:0;
}

.insta-settings .panel-body div {
	padding:0;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}

.update-notice, .filter-notice, .repeat-notice {
	padding: 15px;
    background: cornsilk;
    position: relative;
}
.pfg-dismiss {
	position: absolute;
    top: 2px;
    right: 3px;
    cursor: pointer;
}
.ma_field_discription {
    width: 20%;
    padding: 15px 20px 15px 0;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    color: #34383c;

}
.meta_box_holder_inside {
	border-left: 4px solid #d0cece;
    display: table;
    width: 100%;
    padding: 13px;
    margin-left: 14px;
    background: #f6f7f7;
}
.ma_field {
    width: 80%;
    height: 100%;
    vertical-align: middle;
    color: #34383c;
}

.ma_field_discription p {
    color: #a2a9af;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}
.ma_field_discription h4 {
	font-size:inherit;
	margin-bottom: 0;
    line-height: 1.5em;
    margin-top: 0;
    padding: 0;
}
input[name=insta_layout] {
	visibility:hidden;
}
.gallery_layout {
	border:5px solid #312e2e
}
.ma_field {
	padding: 15px 20px 15px 0;
}
/* range bar */
.slidecontainer {
    width: 100%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
/*Toggle button on/off css*/

.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
  padding-left: 0px
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input[type="radio"] {
    visibility:hidden;
 
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
	display: inline-block;
	width: 60px;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 2px 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

#sort-all-slides .dropdown-menu {
 top:unset !important
}

.load_scroll label {
	width: 130px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 11px 10px !important;
}

.switch-field label:hover {
    cursor: pointer;
	
}

.switch-field input:checked + label {
  background-color: #cd2757;
  -webkit-box-shadow: none;
  box-shadow: none;
  color:#FFFFFF;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.em_size_field label {
	width:35px;
	height:25px;
}
.em_size_field label {
	width:50px;
}
.hover_field label {
width:100px !important;
}

.item:hover .item-overlay.bottom {
  bottom: 177px;
  opacity:1 !important;
}
.item-overlay {
	
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.item-overlay.bottom {
  bottom: 90%;
}

/* Rabge bar css*/

.range-slider__range {
  -webkit-appearance: none;
  width: calc(98% - (73px)) !important;
  height: 7px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 2px;
  display:inline !important;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
   appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #cd2757 ;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #0073AA;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #177EE5;
}
.range-slider__range:active::-moz-range-thumb {
  background: #62D5FF;
}

.range-slider__value {
  display: inline-block !important;
  position: relative !important;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #cd2757 ;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute !important;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #cd2757;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

.panel-title {
	    padding: 15px 12px;
    font-size: 14px;
	    color: #2c3338;
		margin:0
}